# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OS
.DS_Store
Thumbs.db

# Local runtime config / secrets
data/
logs/
*.log
__pycache__/


# Build/Dist
build/
dist/
*.spec

# Virtual Environment
venv/
.venv/
env/
